// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.reviews-sect {
  &__heading-block {
  }
  &__title {
  }
  &__nav {
  }
  &__slider {
  }
}
.review {
  &__img {
    width: 180px;
  }
  &__title {
  }
  &__descr {
  }
}


.reviews-sect__slider.slick-slider .review,
.review {
  width: 220px;
  &:nth-last-child(n+2) {
    margin-right: 20px;
  }
}
