// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.search-popup {
  &__cnt {
    display: flex;
    flex-flow: column;
    max-height: 100%;
    width: 100%;
    max-width: 600px;
  }
  &__close {
    margin: 0 0 35px auto;
    fill: $white;
    transition: transform .35s;
    > .close-icon {
      width: 20px;
      height: 20px;
      pointer-events: none;
    }
  }
}

#search-inp {
  width: 100%;
  padding: 5px 30px;
  background: none;
  border: none;
  border-bottom: 1px solid;
  color: inherit;
  font: bold 18px/100% AnonymousPro;
  box-sizing: border-box;
  &::placeholder {
    color: rgba(255,255,255,.5)
  }
}

.search {
  width: 100%;
  position: relative;
  &.searching {
    > .search-icon {
      transform: rotate(0) translateX(2.5px) rotate(0);
      animation: searching 1s .1s linear infinite;
    }
  }
  > .search-icon {
    position: absolute;
    left: 0;
    bottom: 5px;
    fill: none;
    stroke: $white;
    transform: rotate(0) translateX(0) rotate(0);
    transition: transform .25s;
  }
  &-results {
    padding-right: 20px;
    margin-top: 40px;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    &__article {
    }
  }
}

.searchwp-live-search-no-results {
  font: 15px/140% Montserrat;
}

.searchwp-live-search-results {
  padding-right: 20px;
  position: static !important;
}

.searchwp-live-search-no-min-chars:after {
  display: none !important;
}

.article {
  margin-bottom: 40px;
  max-width: 100%;
  &__categories {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: $white;
    text-transform: uppercase;
    font: bold 12px/100% AnonymousPro;
    > .hot-icon {
      display: block;
      width: 17px;
      height: 20px;
      margin-left: 8px;
    }
  }
  &__category {
    display: inline-block;
    padding: 5px;
    background: $malachite;
    transition: background .35s;
    &:nth-last-of-type(n+2) {
      margin-right: 8px;
    }
  }
  &__title {
    margin-bottom: 15px;
    font: bold 18px/140% AnonymousPro;
    &-link {
      display: inline;
    }
  }
  &__excerpt {
    max-width: 100%;
    font: 14px/140% Montserrat;
  }
  &__row {
    margin: 20px 0 0;
    display: flex;
    align-items: center;
    font: bold 12px/100% AnonymousPro;
  }
  &__link {
  }
  &__date {
    margin: 0 0 0 auto;
    color: $grey;
  }
}

.article__title-text,
.article__link {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .35s;
}