// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.side-menu {
  padding: 100px 0 0 responsive('1440->2560', '102->654.500');
  &__nav {
    margin-right: 60px;
  }
  &.fixed {
    padding: 40px 0 0 responsive('1440->2560', '102->654.500');
  }
}