// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.burger {
  display: inline-flex;
  transition: opacity .15s linear;
  background: 0 0;
  border: 0;
  overflow: visible;
  transition: transform .5s;
  &__box {
    display: inline-block;
    flex-shrink: 0;
    width: 25px;
    height: 18px;
    position: relative;
  }
  &__inner {
    margin-top: -2px;
    display: block;
    width: 100%;
    height: calc(4 / 24 * 100%);
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, $lightgrey 0 75%, transparent 75% 85%, $lightgrey 85% 100%);
    transition: background-color 0s 0.13s linear, bottom .5s;
    &::after,
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: $lightgrey;
    }
    &::after {
      bottom: -250.8%;
      top: -515.6%;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    &::before {
      background: linear-gradient(to right, $lightgrey 0 15%, transparent 15% 30%, $lightgrey 30% 100%);
      top: -250.8%;
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
  &.active {
    .burger__inner {
      bottom: 100%;
      transition-delay: 0.22s;
      background-color: transparent !important;
      background: 0 0;
      &::before {
        // top: -500%;
        top: 0;
        transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 10px, 0) rotate(45deg);
      }
      &::after {
        // top: -500%;
        top: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 10px, 0) rotate(-45deg);
      }
    }
  }
}