// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

a[href="#"] {
  opacity: .5;
  pointer-events: none;
}

html[lang="ru-RU"] {
  margin-top: 0 !important;
}

body.no-scroll {
  overflow: hidden;
}

body {
  background: #2d2c2c;
}

// img.lazy {
//   background: url('../img/img-placeholder.svg') center/cover no-repeat;
// }

#fake-scrollbar {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999;
  &.active {
    display: block;
  }
}

.nav__list-item {
  &.current {
    cursor: not-allowed;
    > .nav__link {
      pointer-events: none;
      > .nav__link-text {
        border-bottom: 1px solid;
      }
    }
  }
}

.nav__link {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .35s, color .35s;
}

.sect {

  &_bg {

  }
  &-title {

  }
  &-descr {

  }
}


.searchwp-live-search-instructions,
div.wpcf7-response-output,
span.wpcf7-not-valid-tip,
.screen-reader-response,
#wpadminbar,
.hidden {
  display: none !important;
}

// .search-popup {
//   visibility: visible !important;
//   opacity: 1 !important;
// }