// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hero {
  &-sect {
    margin-top: -67px;
    padding-top: 110px;
    padding-bottom: 75px;
    background:
      url('#') top left/cover no-repeat,
      url('#') top left/cover no-repeat,
      #2E2E2E;
    color: $lightgrey;
    position: relative;
    z-index: 0;
    overflow: hidden;
    &-decor {
      top: 25%;
      left: -200px;
      width: 650px;
      max-width: none;
      position: absolute;
      pointer-events: none;
      z-index: 0;
    }
    &__title {
      max-width: 350px;
      display: flex;
      flex-wrap: wrap;
      font: 18px/200% PressStart2P;
      text-transform: uppercase;
      // position: relative;
      // z-index: 0;
      .br {
        display: none;
      }
      .php {
        display: inline-block;
        font: bold 12px/140% AnonymousPro;
        text-transform: none;
        color: $blue;
        > .echo {
          color: $malachite;
        }
      }
      > .text {
        margin-top: 10px;
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        > .quote {
          display: inline-block;
          margin: 0 7.5px;
        }
      }
      .quote {
        // vertical-align: super;
        font: bold 12px/140% AnonymousPro;
        color: $red;
      }
      > .quote {
        display: inline-block;
        margin-left: 7.5px;
      }
      .mark {
        padding: 7.5px 12.5px;
        background: $lightgrey;
        color: #303030;
      }
    }
    &__descr {
      max-width: 480px;
      font: bold 18px/140% AnonymousPro;
      .quote {
        display: inline-block;
        font: bold 12px/140% AnonymousPro;
        color: $red;
      }
      .php {
        display: inline-block;
        font: bold 12px/140% AnonymousPro;
        text-transform: none;
        color: $blue;
      }
    }
  }
  &-category {
    > .hero-sect__title {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

#emoji {
  display: none;
}

#category {
  > .hero-sect {
    > .hero-sect__title {
      > .text {
        width: 100%;
      }
    }
  }
}