// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hero-sect {
  &__title {
    max-width: 575px;
    font-size: 26px;
    .br {
      display: block;
    }
    > .text {
      line-height: 225%;
      margin-top: 20px;
      > .quote {
        margin: 0 10px;
      }
    }
    .php,
    .quote {
      font-size: 17.5px;
    }
  }
  &__descr {
    max-width: 500px;
    font-size: 24px;
    .php,
    .quote {
      font-size: 17.5px;
    }
  }
  &-decor {
    top: 25%;
    left: -85px;
    width: 1000px;
  }
}

#category {
  > .hero-sect {
    > .hero-sect__title {
       > .text {
        margin: 15px 0;
      }
    }
  }
}