
@font-face {
  font-family: 'PressStart2P';
  src: url('../fonts/PressStart2P-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AnonymousPro';
  src: url('../fonts/AnonymousPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI';
  font-display: swap;
  src: local('SegoeUI Semibold'), local('SegoeUI-SemiBold'),
    url('../fonts/SegoeUI-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}