// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hdr {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  &__nav {
    display: none;
  }
  &__logo {
    &-img {
      width: 110px;
      height: 27px;
      object-fit: contain;
    }
  }
}

#hdr__search {
  margin: 0 15px 0 auto;
  width: 20px;
  height: 20px;
  stroke: $lightgrey;
  fill: none;
}