// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

#front-page {
  > .articles-wrapper {
    > .articles-content {
      display: flex;
      flex-flow: column;
      #hot,
      #fresh {
        order: -1;
      }
      > .articles-sect {
        &:nth-of-type(3),
        &:nth-of-type(6),
        &:nth-of-type(9) {
          background: #FBFBFB;
        }
      }
    }
  }
}

#category {
  > .articles-wrapper {
    > .articles-content {
      > .articles-sect {
        padding-left: 0;
        padding-right: 0;
        > .articles {
          &:nth-of-type(even) {
            background: #FBFBFB;
          }
        }
      }
    }
  }
}

#category {
  > .articles-wrapper {
    > .articles-content {
      > .articles-sect 
        > .articles {
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
        }
    }
  }
}


#category {
  .articles-sect__row {
    border-bottom: 1px solid #B7BEB2;
  }
}


#category {
  .articles:nth-child(3n+1) {
    > .single {
      &:nth-child(2),
      &:nth-child(3) {
        .single__thumb {
          display: block;
        }
      }
      &:nth-child(1) {
        grid-row: 1;
        grid-column: 1;
      }
      &:nth-child(2) {
        grid-row: 1/span 2;
        grid-column: 3;
      }
      &:nth-child(3) {
        grid-row: 2/span 2;
        grid-column: 1;
      }
      &:nth-child(4) {
        grid-row: 3;
        grid-column: 3;
      }
    }
  }
  .articles:nth-child(3n+2) {
    > .single {
      &:nth-child(3),
      &:nth-child(4) {
        .single__thumb {
          display: block;
        }
      }
      &:nth-child(1) {
        grid-row: 1;
        grid-column: 1;
      }
      &:nth-child(2) {
        grid-row: 1;
        grid-column: 3;
      }
      &:nth-child(3) {
        grid-row: 2/span 2;
        grid-column: 1;
      }
      &:nth-child(4) {
        grid-row: 2/span 2;
        grid-column: 3;
      }
    }
  }
  .articles:nth-child(3n+3) {
    > .single {
      &:nth-child(1),
      &:nth-child(4) {
        .single__thumb {
          display: block;
        }
      }
      &:nth-child(1) {
        grid-row: 1/span 2;
        grid-column: 1;
      }
      &:nth-child(2) {
        grid-row: 1;
        grid-column: 3;
      }
      &:nth-child(3) {
        grid-row: 3;
        grid-column: 1;
      }
      &:nth-child(4) {
        grid-row: 2/span 2;
        grid-column: 3;
      }
    }
  }
}

#category .articles-sect__row {
  margin-left: 20px;
  margin-right: 20px;
}

.articles {
  &-wrapper {
    background: $lightgrey;
    overflow: hidden;
  }
  &-content {
    min-height: 500px;
  }
  &-sect {
    display: flex;
    flex-flow: column;
    padding: 35px 20px;
    color: $black;
    &.loading {
      opacity: .5;
      pointer-events: none;
    }
    &__row {
      margin-bottom: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      order: -1;
    }
    &__title {
      font: 18px/140% PressStart2P;
      text-transform: uppercase;
    }
    &__link {
      font: 16px/100% Montserrat;
      color: $grey;
      border-bottom: 1px solid;
      transition: border-bottom-color .35s;
    }
  }
}

.tags-error {
  font: 14px/140% Montserrat;
  color: $black;
  padding: 0 20px;
}


.sort {
  font: 13px/100% Montserrat;
  position: relative;
  border: 1px solid transparent;
  transition: border-color .35s, background .35s;
  > button {
    display: flex;
    align-items: center;
    padding: 8px;
    color: #555B55;
    &::after {
      content: '';
      margin-left: 5px;
      display: inline-block;
      width: 8px;
      height: 8px;
      background: url('../img/icon-polygon.svg') center/contain no-repeat;
      transform: rotate(180deg);
      transition: transform .35s;
    }
  }
  &__list {
    width: calc(100% + 2px);
    position: absolute;
    top: 100%;
    left: -1px;
    opacity: 0;
    visibility: hidden;
    border: 1px solid transparent;
    transition: opacity .35s, visibility .35s, border-color .35s, background .35s;
    &-item {
      padding: 8px;
      cursor: pointer;
      transition: background-color .35s, color .35s;
      &.selected {
        pointer-events: none;
        opacity: .5;
      }
    }
  }
  &.active {
    border-color: #555B55;
    background: $white;
    > .sort__list {
      border-color: #555B55;
      background: $white;
    }
    > button {
      &::after {
        transform: rotate(0deg);
      }
    }
     > .sort__list {
      opacity: 1;
      visibility: visible;
    }
  }
}

// #fresh,
// #gadgets {
//   background: $lightgrey;
// }

.tags {
  font: 13px/100% Montserrat;
  color: #555B55;
  position: relative;
  text-transform: uppercase;
  &.active {
    > .tags__show-btn {
      border-color: #555B55;
      background: $white;
      &::after {
        transform: translateY(0) rotate(0);
      }
    }
    > .tags__list {
      opacity: 1;
      visibility: visible;
    }
  }
  &__show-btn {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid transparent;
    border-bottom: 0;
    transition: border-bottom-color .35s, background .35s;
    text-transform: none;
    &::after {
      content: '';
      margin: 0 0 0 5px;
      display: inline-block;
      width: 8px;
      height: 8px;
      background: url('../img/icon-polygon.svg') center/contain no-repeat;
      transform: rotate(180deg);
      transition: transform .35s;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border: 1px solid #555B55;
    transition: border-color .35s, background .35s, color .35s, width .35s, padding .35s;
    position: relative;
    &::after {
      content: '';
      margin-left: 5px;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      display: inline-block;
      width: 8px;
      height: 8px;
      background: url('../img/icon-close.svg') center/contain no-repeat;
      opacity: 0;
      pointer-events: none;
      transition: opacity .35s;
    }
    &.selected {
      padding-right: 20px;
      background: $blue;
      border-color: $blue;
      color: $white;
      &::after {
        opacity: 1;
      }
    }
  }
  &__list {
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 30px 10px;
    position: absolute;
    top: 100%;
    left: 0;
    background: $white;
    border: 1px solid #555B55;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s;
    &-item {
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }
}




#fresh {
  .single {
    &:nth-child(1) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#hot {
  .single__categories {
    &::after {
      content: '';
      display: block;
      width: 17px;
      height: 20px;
      margin-left: 8px;
      background: url('../img/icon-hot.svg') center/contain no-repeat;
    }
  }
  .single {
    &:nth-child(1),
    &:nth-child(4) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#anews {
  .single {
    &:nth-child(2),
    &:nth-child(4) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#rtfm {
  .single {
    &:nth-child(2),
    &:nth-child(3) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#coding {
  .single {
    &:nth-child(4) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#hack {
  .single {
    &:nth-child(2),
    &:nth-child(4) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#phreaking {
  .single {
    &:nth-child(2),
    &:nth-child(3) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#gadgets {
  .single {
    &:nth-child(1) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#books {
  .single {
    &:nth-child(2),
    &:nth-child(4) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#fuckery {
  .single {
    &:nth-child(2),
    &:nth-child(4) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#people {
  .single {
    &:nth-child(2),
    &:nth-child(3) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#soft {
  .single {
    &:nth-child(1) {
      .single__thumb {
        display: block;
      }
    }
  }
}

#diy {
  .single {
    &:nth-child(2),
    &:nth-child(4) {
      .single__thumb {
        display: block;
      }
    }
  }
}

.articles {

}
.hot-icon {
  display: none;
}

.single {
  max-width: 450px;
  &:nth-last-child(n+2) {
    margin-bottom: 50px;
  }
  &__thumb {
    margin-bottom: 20px;
    display: none;
  }
  &__img {
    max-width: 450px;
    max-height: 310px;
    width: responsive('320->575', '280->450');
    height: responsive('320->575', '195->310');
    object-fit: cover;
  }
  &__row {
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    font: bold 12px/100% AnonymousPro;
  }
  &__categories,
  &__tags {
    display: flex;
    align-items: center;
    color: $white;
    text-transform: uppercase;
  }
  &__tags {
    color: $blue;
    text-transform: uppercase;
  }
  &__tag {
    padding: 5px 15px;
    border: 1px solid $blue;
    transition: background .35s, color .35s;
    &:nth-last-child(n+2) {
      margin-right: 10px;
    }
  }
  &__category {
    display: inline-block;
    padding: 5px;
    background: $malachite;
    transition: background .35s;
    &:nth-last-of-type(n+2) {
      margin-right: 8px;
    }
  }
  &__date {
    margin: 0 0 0 auto;
    color: $grey;
  }
  &__title {
    margin-bottom: 15px;
    font: bold 18px/140% AnonymousPro;
    &-link {
      display: inline-block;
    }
  }
  &__excerpt {
    font: 14px/140% Montserrat;
  }
}