// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.articles {
  &-sect {
    min-height: 350px;
    padding-top: 75px;
  }
  &-wrapper {
    grid-template-columns: responsive('768->1023', '260->384') auto;
  }
  &-sect {
    &__title {
      font-size: 20px;
    }
  }
}
.articles-sect {
  padding-right: responsive('768->1023', '41->168.500');
}
.articles-sect,
#category 
  > .articles-wrapper 
    > .articles-content 
      > .articles-sect 
        > .articles {
          padding-right: responsive('768->1023', '41->168.500');
        }

.tags-error {
  padding-right: responsive('768->1023', '41->168.500');
}

#category .articles-sect__row {
  margin-right: responsive('768->1023', '41->168.500');
}

.single {
  &:nth-last-child(n+2) {
    margin-bottom: 40px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__row {
    margin-bottom: 15px;
  }
  &__thumb {
    margin-bottom: 15px;
  }
  &__img {
    width: 451px;
    height: 313px;
  }
}