// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.articles {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  grid-template-rows: auto auto auto;
  // display: flex;
  // flex-wrap: wrap;
  // column-count: 2;
  &-wrapper {
    grid-template-columns: responsive('1024->1439', '262->469') auto;
  }
  &-sect {
    min-height: 400px;
    padding: 50px responsive('1024->1439', '42->249.500') 10px 20px;
  }
}
.tags-error {
  padding-right: responsive('1024->1439', '42->249.500');
}

#category 
  > .articles-wrapper 
    > .articles-content 
      > .articles-sect 
        > .articles {
          padding-right: responsive('1024->1439', '42->249.500');
        }

#category .articles-sect__row {
  margin-right: responsive('1024->1439', '42->249.500');
}

.single {
  width: 320px;
  // break-inside: avoid;
  &:nth-last-child(n+1) {
    margin: 0 0 40px;
  }
  &__img {
    width: 320px;
    height: 320px;
  }
}

.sort {
  font-size: 16px;
}

#fresh,
#gadgets,
#soft {
  padding-top: 100px;
  .single:nth-child(1){
    grid-row: 1/span 3;
    grid-column: 1;
  }
  .single:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
  }
  .single:nth-child(3) {
    grid-row: 2;
    grid-column: 3;
  }
  .single:nth-child(4){
    grid-row: 3;
    grid-column: 3;
  }
}

#hot {
  .single:nth-child(1){
    grid-row: 1/span 2;
    grid-column: 1;
  }
  .single:nth-child(2) {
    grid-row: 3;
    grid-column: 1;
  }
  .single:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
  }
  .single:nth-child(4){
    grid-row: 2/span 2;
    grid-column: 3;
  }
}

#anews,
#hack,
#fuckery,
#diy {
  .single:nth-child(1){
    grid-row: 1;
    grid-column: 1;
  }
  .single:nth-child(2) {
    grid-row: 2/span 2;
    grid-column: 1;
  }
  .single:nth-child(3) {
    grid-row: 1/span 2;
    grid-column: 3;
  }
  .single:nth-child(4){
    grid-row: 3;
    grid-column: 3;
  }
}

#rtfm,
#phreaking,
#books,
#people {
  .single:nth-child(1){
    grid-row: 1;
    grid-column: 1;
  }
  .single:nth-child(2) {
    grid-row: 2/span 2;
    grid-column: 1;
  }
  .single:nth-child(3) {
    grid-row: 1/span 2;
    grid-column: 3;
  }
  .single:nth-child(4){
    grid-row: 3;
    grid-column: 3;
  }
}

#coding {
  .single:nth-child(1){
    grid-row: 1;
    grid-column: 1;
  }
  .single:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  .single:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
  }
  .single:nth-child(4){
    grid-row: 1/span 3;
    grid-column: 3;
  }
}

.tags {
  &__list {
    width: 700px;
  }
}